---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import WhatIs from "../components/WhatIs.astro";
import Problem from "../components/Problem.astro";
import Model from "../components/Model.astro";
import Process from "../components/Process.astro";
import Vision from "../components/Vision.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LanzaSaaS - Construye empresas SaaS en equipo">
	<Header />
	<main>
		<Hero />
		<WhatIs />
		<Problem />
		<Model />
		<Process />
		<Vision />
		<CTA />
	</main>
	<Footer />
</Layout>
