---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import BusinessOS from "../components/BusinessOS.astro";
import Process from "../components/Process.astro";
import Roles from "../components/Roles.astro";
import Target from "../components/Target.astro";
import FooterCTA from "../components/FooterCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LanzaSaaS LAB | Convierte una idea en un SaaS real">
	<Navbar />
	<main>
		<Hero />
		<Problem />
		<BusinessOS />
		<Process />
		<Roles />
		<Target />
		<FooterCTA />
	</main>
	<Footer />
</Layout>
