---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Audience from "../components/Audience.astro";
import Problem from "../components/Problem.astro";
import Process from "../components/Process.astro";
import Features from "../components/Features.astro";
import Profiles from "../components/Profiles.astro";
import FooterCTA from "../components/FooterCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LanzaSaaS LAB | Donde las ideas se convierten en SaaS reales">
	<Navbar />
	<main>
		<Hero />
		<Audience />
		<Problem />
		<Process />
		<Features />
		<Profiles />
		<FooterCTA />
	</main>
	<Footer />
</Layout>
